<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center><h2 style="color:blue;"><u>ABOUT US</u></h2></center>



<center><h3 style="color:blue;">We are the most striving web development company in Kolkata- India.We have been developing websites 
for companies ranging from very small, medium to even big companies in India.We also develop social networking sites-i.e. facebook
like websites, job searching sites-i.e. sites like naukri.com or monster.com.We create forums or make platforms for the users to create 
forum and discuss important daily  topics of their choice there.This benefits the users a lot.</h3></center>
 
 
 
 <center><h3 style="color:blue;">So our work varies from time to time depending on the contract of the client  company that we take up.
 We have been delivering these  services since June 2005 and also look forward to do something better in future.We always appreciate a 
 bit of guidance in the work that we do.!!!</h3></center>
 
 
 
<hr color="violet"> 
 
<h3 style="color:blue;">Thank You</h3>



<hr color="violet">
</body>
</html>