<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center><h2 style="color:blue;"><u>CONTACT US</u></h2></center>


<center><h3 style="color:blue;">For any kind of enquiries, feedback or complaints feel free to contact us.Your step in this regard will be highly appreciated.</h3></center>

<hr color="violet">

<center><h2 style="color:blue;"><u>HEAD OFFICE</u></h2></center>
<center><h3 style="color:blue;">ORIOLES NEST, BLOCK 1- 2ND FLOOR,5 NSC BOSE ROAD,TOLLYGUNGE, WEST BENGAL, KOLKATA-700033</h3></center>
<center><h2 style="color:blue;"><u>EMAIL ID</u></h2></center>
<center><h3 style="color:blue;">ananyasenchowdhury@ymail.com</h3></center>
<center><h2 style="color:blue;"><u>CONTACT NUMBER</u></h2></center>
<center><h3 style="color:blue;">9932664375</h3></center>

<hr color="violet">

<center><h2 style="color:blue;"><u>REGISTERED OFFICE</u></h2></center>
<center><h3 style="color:blue;">BINAYAK APTT., BLOCK A- 1ST FLOOR,68 ADI GANGA ROAD,BANSDRONI, WEST BENGAL, KOLKATA-700070</h3></center>
<center><h2 style="color:blue;"><u>EMAIL ID</u></h2></center>
<center><h3 style="color:blue;">ananyasenchowdhury@ymail.com</h3></center>
<center><h2 style="color:blue;"><u>CONTACT NUMBER</u></h2></center>
<center><h3 style="color:blue;">9836264501</h3></center>

<hr color="violet">

<center><h2 style="color:blue;"><u>BRANCH OFFICE</u></h2></center>
<center><h3 style="color:blue;">COLLABORATION PLATFORM, 5/3 NASKAR PARA, ROYNAGAR, BANSDRONI, NEAR ROYNAGAR UNNAYAN SAMITI CLUB, WEST BENGAL, KOLKATA-700070</h3></center>
<center><h2 style="color:blue;"><u>EMAIL ID</u></h2></center>
<center><h3 style="color:blue;">ananyasenchowdhury51@gmail.com</h3></center>
<center><h2 style="color:blue;"><u>CONTACT NUMBER</u></h2></center>
<center><h3 style="color:blue;">9932689945</h3></center>




<hr color="violet">



</body>
</html>