
<div ng-app="myApp" ng-controller="HomeController">
 <h1 style="color:blue;"> Welcome to Collaboration..</h1>
<h2 style="color:blue;">{{message}}</h2>
<h2 style="color:blue;">Here you can make friends, search for jobs & urgent vacancies 
but to apply for jobs you need to create an account and login first.
You may also make friends, create blogs or forums...</h2>

<img border="0" src="images/blog.JPG"
alt="Blog image" width="304" height="228">



<img align="center" src="images/friend.JPG"
alt="Friend Poster" width="304" height="228">



<img align="right" src="images/job.JPG"
alt="Job Search" width="304" height="228">



<img align="right" src="images/forum.JPG"
alt="Forum image" width="304" height="228">






</div>