<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="post_blog">
	<div class="container">
		<div class="form-area">
			<div class="row y-row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
					<fieldset>
						<legend style="color:blue;">POST BLOG</legend>
						<hr>
						<div class="form-inner">
							<form ng-submit="ctrl.submit()" class="form-horizontal" name="myForm">
								<div class="one">
									<input ng-model="ctrl.blog.title" type="text" required pattern=".{3,50}"
										placeholder="Title">
								</div>
								<hr>
								<div class="one">
									<textarea ng-model="ctrl.blog.content" type="text" rows="5" required pattern=".{5,500}"
										placeholder="Content..." />
								</div>
								<hr>
								<div>
									<input type="submit" class="btn btn-info kp-button floatright"
										value="submit">
									<input type="button" class="btn btn-info kp-button floatright" 
										value="reset form" ng-click="ctrl.reset()">
								</div>
							</form>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>